<h6 class="mt-3">Info about the fractals/spirographs</h6>
<textarea
  class="form-control"
  id="exampleFormControlTextarea1"
  rows="3"
  readonly
  noresize
></textarea>

<h6 class="mt-3">Instructions for user interactions</h6>

<!-- Background color -->
<div class="form-group mt-2">
  <label for="backgroundColor">Background color</label>
  <input
    id="backgroundColor"
    type="color"
    class="form-control"
    value="#B8B8B8"
  />
</div>

<!-- Generation color -->
<div class="form-group mt-2">
  <label for="generationColor">Generation color</label>
  <input
    id="generationColor"
    type="color"
    class="form-control"
    value="#000000"
  />
</div>

<div id="fractalsDetails">
  <!-- Shape selector -->
  <div class="form-group mt-2">
    <label for="shapeSelect">Choose a shape</label>
    <select
      id="shapeSelect"
      class="form-select mb-4"
      aria-label="Default select example"
    >
      <option value="1">Square</option>
      <option value="2" selected>Circle</option>
    </select>
  </div>

  <!-- Iterations & Size -->
  <div class="row mt-2">
    <div class="col">
      <label for="iterationsInput" class="form-label">Iterations</label>
      <input
        type="range"
        class="form-range"
        id="iterationsRange"
        min="0"
        max="10"
        value="5"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="iterationsInput"
        min="0"
        max="10"
        value="5"
      />
    </div>
    <div class="col">
      <label for="sizeInput" class="form-label">Size</label>
      <input
        type="range"
        class="form-range"
        id="sizeRange"
        min="0"
        max="100"
        value="65"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="sizeInput"
        min="0"
        max="100"
        value="65"
      />
    </div>
  </div>

  <!-- Angles -->
  <div class="row mt-2">
    <div class="col">
      <label for="rightAngleInput" class="form-label">Right Angle</label>
      <input
        type="range"
        class="form-range"
        id="rightAngleRange"
        min="0"
        max="360"
        value="45"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="rightAngleInput"
        min="0"
        max="360"
        value="45"
      />
    </div>
    <div class="col">
      <label for="leftAngleInput" class="form-label">Left Angle</label>
      <input
        type="range"
        class="form-range"
        id="leftAngleRange"
        min="0"
        max="360"
        value="315"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="leftAngleInput"
        min="0"
        max="360"
        value="315"
      />
    </div>
  </div>
</div>
