<h6 class="mt-3">Info about the fractals/spirographs</h6>
<textarea
  class="form-control"
  id="exampleFormControlTextarea1"
  rows="3"
  readonly
  noresize
>
Duis non facilisis ante, at lobortis est. Curabitur vel dignissim sapien, vel ultrices ipsum. Donec pharetra sem ut fermentum maximus. Mauris interdum augue vitae urna convallis, sed rutrum massa consectetur. Vestibulum pulvinar congue nisl, sit amet finibus lectus fermentum id. Sed vehicula scelerisque tempor. Nulla facilisi. Curabitur in ante commodo, vestibulum nisl in, sodales metus.
</textarea>

<h6 class="mt-3">Instructions for user interactions</h6>

<!-- Background color -->
<div class="form-group mt-2">
  <label for="backgroundColor">Background color</label>
  <input
    id="backgroundColor"
    type="color"
    class="form-control"
    value="#B8B8B8"
    (change)="updateBackgroundColor($event.target.value)"
  />
</div>

<!-- Generation color -->
<div class="form-group mt-2">
  <label for="generationColor">Generation color</label>
  <input
    id="generationColor"
    type="color"
    class="form-control"
    value="#000000"
    (change)="updateGenerationColor($event.target.value)"
  />
</div>

<div id="fractalsDetails">
  <!-- Shape selector -->
  <div class="form-group mt-2">
    <label for="shapeSelect">Choose a shape</label>
    <select
      id="shapeSelect"
      class="form-select mb-4"
      aria-label="Default select example"
      (change)="updateShape($event.target.value)"
    >
      <option value="1">Square</option>
      <option value="2" selected>Circle</option>
    </select>
  </div>

  <!-- Iterations & Size -->
  <div class="row mt-2">
    <div class="col">
      <label for="iterationsInput" class="form-label">Iterations</label>
      <input
        type="range"
        class="form-range"
        id="iterationsRange"
        min="0"
        max="10"
        value="{{ iteration }}"
        (change)="updateIteration($event.target.value)"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="iterationsInput"
        min="0"
        max="10"
        value="{{ iteration }}"
        (change)="updateIteration($event.target.value)"
      />
    </div>
    <div class="col">
      <label for="sizeInput" class="form-label">Size</label>
      <input
        type="range"
        class="form-range"
        id="sizeRange"
        min="0"
        max="100"
        value="{{ size }}"
        (change)="updateSize($event.target.value)"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="sizeInput"
        min="0"
        max="100"
        value="{{ size }}"
        (change)="updateSize($event.target.value)"
      />
    </div>
  </div>

  <!-- Angles -->
  <div class="row mt-2">
    <div class="col">
      <label for="rightAngleInput" class="form-label">Right Angle</label>
      <input
        type="range"
        class="form-range"
        id="rightAngleRange"
        min="0"
        max="360"
        value="{{ angleRight }}"
        (change)="updateAngleRight($event.target.value)"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="rightAngleInput"
        min="0"
        max="360"
        value="{{ angleRight }}"
        (change)="updateAngleRight($event.target.value)"
      />
    </div>
    <div class="col">
      <label for="leftAngleInput" class="form-label">Left Angle</label>
      <input
        type="range"
        class="form-range"
        id="leftAngleRange"
        min="0"
        max="360"
        value="{{ angleLeft }}"
        (change)="updateAngleLeft($event.target.value)"
      />
      <input
        type="number"
        class="form-control form-control-sm"
        id="leftAngleInput"
        min="0"
        max="360"
        value="{{ angleLeft }}"
        (change)="updateAngleLeft($event.target.value)"
      />
    </div>
  </div>
</div>
